Todos os shoppings
<table border="10px" style="width: 50%">
	<tr>
		<td>Nome</td>
		<td>Lista de Lojas</td>
		<td>Alterar</td>
		<td>Remover</td>
	</tr>

<% @stores.each do |a| %>
	<tr>
		<td><%= link_to a.name, store_showOne_path(a.id) %></td>
		<td><%= link_to 'Lista  de Lojas', </td>
		<td><%= link_to 'Alterar', store_edit_path(a.id) %></td>                                       
		<td><%= link_to 'Deletar', store_destroy_path(a.id), :method => 'delete' %></td>
	</tr>
<% end %>
	<tr>
		<td><%= link_to 'Crie um novo registro de Shopping', shopping_new_path %></td>
	</tr>
</table>