<h1>Alterar Shopping</h1>
<%= form_for @storeId, url:shopping_update_path(@storeId.id) do |f| %>
	<%= f.label :name, 'Nome' %>
	<%= f.text_field :name %>
	<%= f.label :floor, 'Piso' %>
	<%= f.text_field :floor %> 
	<%= f.submit 'Alterar' %>
<% end %>

